*
{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.main
{
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;    
    background-color: aquamarine;
}
.palindromeChecker
{
    height: 540px;
    width: 420px;
    margin: auto;
    border-radius: 10px;
    border: rgb(7, 131, 247) solid 3px;
    background-color: white;
}
#screen
{
     display:flex;
     position: relative;
    width: 380px;
    height: 80px;
    border-width: 0px;
    background-color:rgb(7, 131, 247) ;
    text-align: right;
    font-size: 40px;
    padding: 20px;
}
#check
{
    height: 60px;
    width: 300px;
    margin-left: 55px;
    border-width: 0;
    margin-top: 20px;
    font-size: 40px;
    background-color:rgb(7, 131, 247) ;
}
.result
{
    font-size: 25px;
    margin: 30px;
}